;; Karabiner-Elements configuration in Goku format
;; https://github.com/yqrashawn/GokuRakuJoudo

;; run `$ goku` to apply, run `$ gokuw` to watch
;; Inspired by:
;; https://github.com/babramczyk/dotfiles/blob/master/notes/shawn-karabiner.edn
;; https://github.com/nikitavoloboev/dotfiles/blob/master/karabiner/karabiner.edn
;; https://github.com/rgomezcasas/dotfiles/blob/main/os/mac/karabiner-goku/karabiner.edn
;; https://github.com/yqrashawn/yqdotfiles/blob/master/modules/yqrashawn/home-manager/dotfiles/karabiner.edn
;; https://github.com/search?q=path%3A*.edn+path%3A**%2Fkarabiner.edn&type=code

;; Refs:
;; https://github.com/yqrashawn/GokuRakuJoudo
;; https://github.com/edn-format/edn

{
  :profiles {
    :Default { ; TODO: Explain
      :default true
    }
  }

  :devices {:m720-triathlon [{:vendor_id 1133 :product_id 45077}]}

  :simlayer-threshold 1000 ; default seems to be 250

  :templates {
    :paste "osascript -e '
      set prev to the clipboard
      set the clipboard to \"%s\"
      tell application \"System Events\"
        keystroke \"v\" using command down
        delay 0.05
      end tell
      set the clipboard to prev
    '"
    :type "osascript -e 'tell application \"System Events\" to keystroke \"%s\" as text'"
    :keyboard-maestro "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
    :open "open \"%s\""
    :opena "open -a \"%s\"" ;; open using app name, like Google Chrome
    :openb "open -b \"%s\"" ;; open using bundle identifier, like com.apple.finder
   }

  ; IMPORTANT: Don't use symlayers for these!
  ; Symlayers "wait" for second key only for some time (about 3s?)
  :layers {
     :emoji-mode { :key :right_option }
     :launch-mode { :key :right_command }
     :snippet-mode { :key :right_shift }
   }


  ; Note: Unused right now
  :applications {
    :Chrome   ["com.google.Chrome", "com.google.Chrome.beta"]
    :Finder   ["com.apple.finder"]
    :IntelliJ ["com.jetbrains.intellij"]
    :Notion   ["notion.id"]
    :Slack    ["com.tinyspeck.slackmacgap"]
  }

  :main [
    {:des "Button 3 to type hello" :rules [[{:pkey :button2} [:type "hello"]]]}

    {
      :des "CapsLock to F19 when alone, Hyper in combination"
      :rules [
        [:##caps_lock :!CTOleft_shift nil {:alone :f19}]
        ;; https://github.com/yqrashawn/GokuRakuJoudo/issues/127#issuecomment-1273550276
      ]
    }
    
    {
      :des   "Quit application by pressing command-q twice"
      :rules [ ; TODO: Explain
          [:!C#Pq [:!Cq ["command-q" 0]] ["command-q" 1]]
          [:!C#Pq ["command-q" 1] nil {:delayed {:invoked ["command-q" 0] :canceled ["command-q" 0]}}]
        ]
    }

    {
      :des "Snippets mode"
      :rules [
        :snippet-mode
          ;; Prios
          [:1 [:paste "[[🔥 TOP]]"]]
          [:2 [:paste "[[🔴 HIGH]]"]]
          [:3 [:paste "[[🟡 MID]]"]]
          [:4 [:paste "[[🟢 LOW]]"]]
          [:5 [:paste "[[⚪️ NOPE]]"]]


          [:q                      [:paste "xxx"]]
          [:a                      [:paste "xxx"]]
          [:grave_accent_and_tilde [:paste "xxx"]]

          [:w                      [:paste "xxx"]]
          [:s                      [:paste "xxx"]]
          [:z                      [:paste "xxx"]]


          [:e                      [:paste "# @strajk: "]]
          [:d                      [:paste "Add console logs to debug this, prefix with file name and fn name, print useful variables"]]
          [:x                      [:paste ""]]


          [:r                      [:paste "xxx"]]
          [:f                      [:paste "xxx"]]
          [:c                      [:paste "console.log("]]

          [:t                      [:paste "xxx"]]
          [:g                      [:paste "xxx"]]
          [:v                      [:paste "xxx"]]

          [:y                      [:paste "xxx"]]
          [:h                      [:paste "xxx"]]
          [:b                      [:paste "xxx"]]


          [:u                      [:paste "xxx"]]
          [:j                      [:paste "xxx"]]
          [:n                      [:paste "xxx"]]


          [:i                      [:paste "xxx"]]
          [:k                      [:paste "xxx"]]
          [:m                      [:paste "xxx"]]


          [:o                      [:paste "xxx"]]
          [:l                      [:paste "xxx"]]
          [:comma                  [:paste "xxx"]]


          [:p                      [:paste "Fix & imporve English, make more concise & clear: "]]
          [:semicolon              [:paste "xxx"]]
          [:period                 [:paste "xxx"]]

          [:open_bracket           [:paste "xxx"]]
          [:quote                  [:paste "xxx"]]
          [:slash                  [:paste "xxx"]]

          [:close_bracket          [:paste "xxx"]]
          [:backslash              [:paste "xxx"]]
      ]
    }

    {
      :des "Emoji mode"
      :rules [
         :emoji-mode
           ;; Note: ⚪️ is just a placeholder where I'm undecided on what emoji to assign
           ;; In more comprehensive shreadsheet:
           ;; https://docs.google.com/spreadsheets/d/1ISRO3mPubfjjsOogvOarX9PCb74LZc8K5gh3J7HxHdc

           ;; 1 2 3 4 5 6 7 8 9 0 - =
           [:1 [:paste "1️⃣"]]
           [:2 [:paste "2️⃣"]]
           [:3 [:paste "3️⃣"]]
           [:4 [:paste "4️⃣"]]
           [:5 [:paste "5️⃣"]]
           [:6 [:paste "6️⃣"]]
           [:7 [:paste "7️⃣"]]
           [:8 [:paste "8️⃣"]]
           [:9 [:paste "9️⃣"]]
           [:0 [:paste "0️⃣"]]
           [:hyphen [:paste "➖"]]
           [:equal_sign [:paste "➕"]]

           ;; q w e r t y u i  p [ ]
           [:q [:paste "❓"]]
           [:w [:paste "💸"]]
           [:e [:paste "👀"]]
           [:r [:paste "🚀"]]
           [:t [:paste "🤔"]]
           [:y [:paste "⚪️"]]
           [:u [:paste "❤️"]]
           [:i [:paste "ℹ️"]]
           [:o [:paste "🌐"]]
           [:p [:paste "📌"]]
           [:open_bracket [:paste "👎"]]
           [:close_bracket [:paste "👍"]]

           ;; a s d f g h j k l ; ' \
           [:a [:paste "🚨"]]
           [:s [:paste "⭐️"]]
           [:d [:paste "☠️"]]
           [:f [:paste "🔥"]]
           [:g [:paste "👻"]]
           [:h [:paste "⬅️"]]
           [:j [:paste "⬇️"]]
           [:k [:paste "⬆️"]]
           [:l [:paste "➡️"]]
           [:semicolon [:paste "🔴"]]
           [:quote [:paste "🟡"]]
           [:backslash [:paste "🟢"]]

           ; ` z x c v b n m , . /
           [:grave_accent_and_tilde [:paste "💥"]]
           [:z [:paste "⚪️"]]
           [:x [:paste "❌"]]
           [:c [:paste "👏"]]
           [:v [:paste "⚪️"]]
           [:b [:paste "💡"]]
           [:n [:paste "⚪️"]]
           [:m [:paste "💰"]]
           [:comma [:paste "🚫"]]
           [:period [:paste "☑️"]]
           [:slash [:paste "✅"]]
       ]
     }

     {
       ;; https://docs.google.com/spreadsheets/d/1ISRO3mPubfjjsOogvOarX9PCb74LZc8K5gh3J7HxHdc/edit?gid=1374605724#gid=1374605724
       :des "Launch mode"
       :rules [
         :launch-mode
            [:q                      [:opena "/Applications/Google Chrome Dev.app"]]
            [:a                      [:openb "com.google.Chrome"]]
            [:grave_accent_and_tilde [:opena "/Applications/Opera.app"]]

            [:2                     [:opena "/Applications/Windsurf.app"]]
            [:w                     [:openb "com.jetbrains.pycharm"]]
            [:s                     [:openb "com.microsoft.VSCode"]]
            [:z                     [:opena "/Applications/Cursor.app"]]


            [:e                     [:opena "/Applications/Warp.app"]]
            [:d                     [:opena "/Applications/iTerm.app"]]
            [:x                     [:opena ""]]


            [:r                     [:opena "/Applications/Messenger.app"]]
            [:f                     [:opena "/Applications/WhatsApp.localized/WhatsApp.app"]]
            [:c                     [:opena "/Applications/Discord.app"]]

            [:t                     [:openb "/Applications/Things3.app"]]
            [:g                     [:opena ""]]
            [:v                     [:openb ""]]

            [:y                     [:openb ""]]
            [:h                     [:openb ""]]
            [:b                     [:openb ""]]


            [:u                     [:openb ""]]
            [:j                     [:openb ""]]
            [:n                     [:openb ""]]


            [:i                     [:openb ""]]
            [:k                     [:openb ""]]
            [:m                     [:openb ""]]


            [:o                     [:openb ""]]
            [:l                     [:openb "com.apple.finder"]]
            [:comma                 [:opena ""]]


            [:p                     [:openb ""]]
            [:semicolon             [:openb ""]]
            [:period                [:opena "/Applications/Nota.app"]]

            [:open_bracket          [:openb ""]]
            [:quote                 [:openb ""]]
            [:slash                 ["open -a /Applications/Setapp/Paper.app /Users/strajk/Documents/Journal.md"]]

            [:close_bracket         [:openb ""]]
            [:backslash             [:openb ""]]
       ]
     }
     
  ]
}

