#bm-main {
    display: block;
    box-shadow: 1px 3px 15px rgba(0, 0, 0, .3);
    margin: 0 auto;
    border-radius: 0;
}

#close {
    float: right;
    margin-top: 7px;
    margin-right: 10px;
    cursor: pointer;
    height: 24px;
    width: 24px;
    position: relative;
    margin-left: 5px;
    opacity: 0.9;
}


*[tabindex="-1"]:focus{
    outline: none;
}

#close:hover {
    opacity: 1;
}

#close::before {
    content: "";
    height: 2px;
    width: 19px;
    position: absolute;
    left: 5px;
    top: 10px;
    background: #868686;
    transform: rotate(-45deg);
}

#close::after {
    content: "";
    height: 2px;
    width: 19px;
    position: absolute;
    left: 5px;
    top: 10px;
    background: #868686;
    transform: rotate(45deg);
}
