# I've been burned by "non-breaking" minor versions too many times
# https://github.com/npm/rfcs/issues/509
# https://stackoverflow.com/questions/22343224
save-prefix=~

# Custom registries
@apify-packages:registry=https://npm.pkg.github.com
